body{
    background-image: url("photos/background.jpg");
    padding:20px;
    margin: 0px;
    font-family:monospace, 'Times New Roman', Times, serif;
}
.img{
    height: 600px;
    width: 100%;
    background-image: url("photos/iubat1.jpg");
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}
*{
	box-sizing:border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.table td,.table th{
    padding:25px 20px;
    text-align: center;
    font-size:16px;
    border: 1px solid rgba(37, 158, 158, 0.26);
    
   
  }
  

  
  .table th{
	background-color: darkblue;
	color:#ffffff;
}

.first-row {
    background-color: cadetblue;
    color: crimson;
}

.table tbody tr {
    border-bottom: 1px solid rgb(48, 45, 45);
    
}

.table tbody tr:nth-of-type(even){
    background-color:#c8d6e5;
}
    .table tbody tr:nth-of-type(odd){
        background-color:#81a0b8;
}
.table tbody tr:last-of-type{
    border-bottom:2px solid rgb(31, 76, 97);
}

.meet{
    display: flex;
    justify-content: space-evenly;
    border-bottom:black;
    
    transition: border-bottom 0.5s;
}
.meet a{


   
    background-color: #81a0b8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    
   

}
.meet a{
    
    color: #222f3e;
    text-decoration: none;
    transition: color 0.5s;
    
 
}
.meet a:hover{
	color:#000000;
	background-color:#c2e6eb;
}
.meet :hover{ 
    border-bottom: 0.5px solid black;
    border-radius: 16px;
}

/* responsive */

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
/* clock */
#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(photos/clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 20%;
    top: 32%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 25%;
    top: 27%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 32%;
    top: 20%;
    left: 49.25%;
    opacity: 0.8; 
    
}
